name: test

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: ['14', '16']

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: NPM config
        run: |
          npm config set //registry-lpm.listenai.com/:_password ${{ secrets.LPM_ADMIN_TOKEN }}
          npm config set //registry-lpm.listenai.com/:username lpmadmin
          npm config set //registry-lpm.listenai.com/:email lpm.admin@listenai.com
          npm config set //registry-lpm.listenai.com/:always-auth true

      - name: Install dependencies
        run: npm install --ignore-scripts --registry=https://registry-lpm.listenai.com

      - name: Build
        run: npm run build
